
<div class="info_header">
    <h6 class="info_header_words">Apply labels to my Pinterest pins!</h6>
    <img src='images/background copy.png' class="banner">
</div>


<!-- <div class="info_buttons">
<a id="info_button" href="#how"><h6 class="info_question_link">How?</h6></a>
<a id="info_button" href="#why"><h6 class="info_question_link">Why?</h6></a>
<a id="info_button" href="#who"><h6 class="info_question_link">Who?</h6></a>
</div> -->

<div class="info_container">

<div class="who_why">


<article id="why">
    <h6 class="article_header">Why</h6>
    <section>
        <h3 class="h3_info_words">For machine learning! Once a machine has been trained on a data set, you can do a lot of cool things with it.</h3>
        <h3 class="h3_info_words">For example, you can <a href="https://affinelayer.com/pixsrv/index.html">generate a picture of a cat</a> from a doodle. Or <a href="https://thispersondoesnotexist.com">generate pictures of people</a> who never existed!</h3>
        <h3 class="h3_info_words">The possiblites are limitless!</h3>
    </section>
</article>

<article id="who">
    <h6 class="article_header">Who</h6>
    <section>
        <h3 class="h3_info_words">I am a computer science student in San Francisco who is just beginning to learn data science.</h3>
        <h3 class="h3_info_words">If you have questions, comments, or advice, please don't hesitate to email me at jamie.mccrory@students.makeschool.com.</h3>
    </section>
    <!-- <section>
        <h3 class="h3_info_words">Thanks for your help!</h3>
    </section> -->
</article>

</div>

<article id="how">
    <h6 class="article_header">How</h6>
        <h6 class="info_header_section">Labels</h6>
    <section>
        <h3 class="h3_info_words">Labels are used to describe the subject (or subjects) of the image. All pictures will be assigned one or more of these labels: monster, environment, male, female.</h3>
    </section>
    <h6 class="info_header_section">"Environment"</h6>
    <section>
        <h3 class="h3_info_words">A picture is considered “environment” if it contains a scene or a part of a scene (as opposed to a white background or a background of a solid color).</h3>
        <h3 class="h3_info_words">If the environment cannot be made out (if it is abstract) or if it is obscured in some way (too dark), DO NOT apply an "environment" label to the image.</h3>
    </section>

    <h6 class="info_header_section">"Male" and "Female"</h6>
    <section>
        <h3 class="h3_info_words">A picture is labeled “male" or “female" if a discernible (human) gender can be found within the image.</h3>
        <h3 class="h3_info_words">A male face on a lion is both “male” and “monster”.</h3>
        <h3 class="h3_info_words">A mummy with breasts is “monster” and “female”.</h3>
        <h3 class="h3_info_words">A male centaur is “male” and "monster".</h3>
        <h3 class="h3_info_words">A group of both women and men is "male" and "female".</h3>
    </section>

    <h6 class="info_header_section">"Monster"</h6>
    <section>
        <h3 class="h3_info_words">A picture is labeled "monster" if non-human characteristics (such as animal, alien, insect, etc.) are present.</h3>
        <h3 class="h3_info_words">A dragon is a "monster".</h3>
        <h3 class="h3_info_words">A standard cat, bird, or insect may be labeled as "monster" or "environment" at your discrection. (I haven't really worked that out.)</h3>
        <h3 class="h3_info_words">An elf for simplicity will NOT fall into the category of monster, but a centaur will. As while both elves and centaurs are classically considered fantasy races, a centaur has prominent nonhuman features, while an elf has exagerated or atypical human traits.</h3>
        <h3 class="h3_info_words">A vampire, unless noticably non-human, is generally NOT labeled as "monster" while a zombie is generally labeled as "monster".</h3>
        <h3 class="h3_info_words">Classification in many cases can be difficult so just go with your gut.</h3>
    </section>

    <h6 class="info_header_section">Input Box</h6>
    <section>
        <h3 class="h3_info_words">Beyond these four broad categories, other labels may be added in the input box at the bottom of the "Desktop" version of the site.</h3>
        <h3 class="h3_info_words">Here are some suggestions for labeling the images with your own labels:</h3>
        <ul>
            <li><h3 class="h3_info_words">Describe the scene in broad and specific terms: “forest trees grove tree oak".</h3></li>

            <li>
                <h3 class="h3_info_words">If there are more than one of something in an image, please include both plural and singular descriptors.</h3>
                <h3 class="h3_info_words">Two wolves in the picture: “wolf wolves”.</h3>
            </li>

            <li><h3 class="h3_info_words">If a picture can be described with an emotion, do so: “happy”, “sad”, “scary”, “creepy”, “crazy".</h3></li>

            <li><h3 class="h3_info_words">Describe features of figures, but focus on the defining traits: “bat wings”, “angel wings” “bird feather feathers”, “scorpion tail”.</h3></li>

            <li><h3 class="h3_info_words">Action verbs ("-ing") should be included, even if the subject is only "standing".</h3></li>

            <li>
                <h3 class="h3_info_words">If you know information about the image, please include it.</h3>
                <ul class="mini_list">
                    <li><h3 class="h3_info_words">Include genre: “scifi”, “fantasy”, “dnd”, "neo noir", etc.</h3></li>
                    <li><h3 class="h3_info_words">Artist's name: “mike mignola”.</h3>
                        <h3 class="h3_info_words">(Note: All labels are lowercased after being entered.)</h3>
                    </li>
                    <li><h3 class="h3_info_words">Image platform: “artstation", “behance”, “vogue cover”.</h3></li>
                    <li><h3 class="h3_info_words">Image type: “photo”, “painting”, “mural”, “graffiti".</h3></li>
                </ul>
            </li>
            <li><h3 class="h3_info_words">DO NOT include punctuation of any sort or characters that are not in the alphabet (a-z).</h3></li>
            <li><h3 class="h3_info_words">DO NOT include numeric numbers: "1". Non-numeric (aka written) numbers are okay: "one".</h3></li>
            <li><h3 class="h3_info_words">DO NOT worry about casing. All labels are lowercased after being entered.</h3></li>
            </li>
        </ul>
    </section>

    <h6 class="info_header_section">Signup</h6>
    <section>
        <h3 class="h3_info_words">After signing up, you'll be ready to start labeling.</h3>
        <h3 class="h3_info_words">There are two versions of the site: "Desktop" and "Mobile". You can navigate between them with the navbar.</h3>
        <h3 class="h3_info_words">You can navigate between pins by clicking "Previous" and "Next".</h3>
        <h3 class="h3_info_words">The starting index of the first pin you see after signing up may be very high.</h3>
        <h3 class="h3_info_words">Please begin labeling on the pin that you are sent to.</h3>
        <h3 class="h3_info_words">Thanks for your help!</h3>
    </section>
</article>


</div>
