
{{#if admin_page}}
    {{else}}
    {{#if currentUser}}

        <div class="navbar_sticky_bottom navbar-light bg-light">
          <div class="container-fluid">
            <div>
                <h2 class="input_instructions">Type labels here separated by spaces:</h2>

            <form action="/labels" method="post">
                <input name="labels" id="labels" rows="3" placeholder="Example: warrior mage sword vampire outside night"  autocomplete="off" />
              </form>
            </div>
          </div>
        </div>
    {{/if}}
{{/if}}
