{{#if mobile}}
<div class="navbar_sticky_bottom_transparent navbar-light bg-light" bg-color="transparent">
      <div class="mobile_button_overlay">
          <a href="/mobile/male+monster+environment"><button class="mobile_button_large" id="male_monster_environment">male monster environment</button></a>
          <a href="/mobile/monster+environment"><button class="mobile_button_large" id="monster_environment">monster environment</button></a>
          <a href="/mobile/female+monster+environment"><button class="mobile_button_large"id="female_monster_environment">female monster environment</button></a>
          <a href="/mobile/male+monster"><button class="mobile_button_large" id="male_monster">male monster</button></a>
          <a href="/mobile/monster"><button class="mobile_button_large" id="monster">monster</button></a>
          <a href="/mobile/female+monster"><button class="mobile_button_large"id="female_monster">female monster</button></a>
          <a href="/mobile/male"><button class="mobile_button_large"id="male">male</button></a>
          <a href="/mobile/male+female"><button class="mobile_button_large"id="male_female">male female</button></a>
          <a href="/mobile/female"><button class="mobile_button_large"id="female">female</button></a>
          <a href="/mobile/male+environment"><button class="mobile_button_large"id="male_environment">male environment</button></a>
          <a href="/mobile/environment"><button class="mobile_button_large"id="environment">environment</button></a>
          <a href="/mobile/female+environment"><button class="mobile_button_large"id="female_environment">female environment</button></a>
          <a href="/mobile/previous"><button class="mobile_button_large"id="female_environment">previous</button></a>
          <a href="/mobile/male+female+environment"><button class="mobile_button_large"id="female_environment">male female environment</button></a>
          <a href="/mobile/next"><button class="mobile_button_large"id="female_environment">next</button></a>
      </div>
</div>
{{else}}
{{#if admin_page}}
    {{else}}
    {{#if currentUser}}

        <div class="navbar_sticky_bottom navbar-light bg-light">
          <div class="container-fluid">
            <div>
                <h2 class="input_instructions">Type labels here separated by spaces:</h2>

            <form action="/labels" method="post">
                <input name="labels" id="labels" rows="3" placeholder="Example: warrior mage sword vampire outside night"  autocomplete="off" />
              </form>
            </div>
          </div>
        </div>
    {{/if}}
{{/if}}
{{/if}}
