<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        Pinterest Image Labeling
      </a>
    </div>

    <div>
        {{#if currentUser}}
        <ul class="nav navbar-nav navbar-center">
            {{#if admin_page}}
            <a href="/add-pins"> <button type="button" name="add-pin">Add New Pin!</button> </a>
            {{else}}

                <nav aria-label="Page navigation example">
                      <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="/previous">Previous</a></li>
                        <li class="page-item"><a class="page-link">{{pinIndex}}</a></li>
                        <li class="page-item"><a class="page-link" href="/next">Next</a></li>
                      </ul>
                    </nav>
            {{/if}}
        {{/if}}
        </ul>
    </div>

    <div>
        <ul class="nav navbar-nav navbar-right">
            {{#if admin}}
                {{#if admin_page}}
                    <li><a href="/">Label Pins</a></li>
                {{else}}
                    <li><a href="/admin">Admin</a></li>
                {{/if}}
            {{/if}}
          {{#if currentUser}}
                <li><a href="/logout">Logout</a></li>
              {{else}}
                <li><a href="/login">Login</a></li>
                <li><a href="/sign-up">Sign Up</a></li>
          {{/if}}
        </ul>
    </div>
  </div>
</nav>
