<nav class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <h2>Pinterest Image Labeling</h2>
      </a>
    </div>

    <div>
        {{#if currentUser}}
        <ul class="nav navbar-nav navbar-center">
            {{#if admin_page}}
            <a href="/add-pins"> <button type="button" class="add_pin_button" name="add-pin"><h1>Add New Pins!</h1></button> </a>
            {{else}}

                <nav aria-label="Page navigation example">
                      <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="/previous">Previous</a></li>
                        <li class="page-item"><a class="page-index"><h2>{{pinIndex}}</h2></a></li>
                        <li class="page-item"><a class="page-link" href="/next">Next</a></li>
                      </ul>
                    </nav>
            {{/if}}
        {{/if}}
        </ul>
    </div>

    <div>
        <ul class="nav navbar-nav navbar-right">
            {{#if admin}}
                {{#if admin_page}}
                    <li><a href="/">Label Pins</a></li>
                {{else}}
                    <li><a href="/admin">Admin</a></li>
                {{/if}}
            {{/if}}
          {{#if currentUser}}
                <li><a href="/logout">Logout</a></li>
              {{else}}
                <li><a href="/login">Login</a></li>
                <li><a href="/sign-up">Sign Up</a></li>
          {{/if}}
        </ul>
    </div>
</nav>
