<nav class="navbar navbar-default">
    <!-- <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <h2>Pinterest Image Labeling</h2>
      </a>
    </div> -->

    <div>
        {{#if currentUser}}
        <ul class="nav navbar-nav navbar-center">
            {{#if admin_page}}
            <a href="/add-pins"> <button type="button" class="add_pin_button" name="add-pin"><h1>Add Pins</h1></button> </a>
            {{else}}

                <nav aria-label="Page_navigation_example">
                      <ul class="pagination">
                        <div class="navigate"><a class="page-link" href="/previous"><h3 class="report_words">Previous</h3></a></div>
                        <li class="page-item"><h3 class="report_words">{{pinIndex}}</h3></li>
                        <div class="navigate"><a class="page-link" href="/next"><h3 class="report_words">Next</h3></a></div>
                      </ul>
                    </nav>
            {{/if}}
        {{/if}}
        </ul>
    </div>

    <div>
        <ul class="nav navbar-nav navbar-right">
            {{#if admin}}
                {{#if admin_page}}
                    <li><a href="/"><h5>Label Pins</h5></a></li>
                {{else}}
                    <li><a href="/admin"><h5>Admin</h5></a></li>
                {{/if}}
            {{/if}}
          {{#if currentUser}}
                <li><a href="/logout"><h5>Logout</h5></a></li>
              {{else}}
                <li><a href="/login"><h5>Login</h5></a></li>
                <li><a href="/sign-up"><h5>Sign Up</h5></a></li>
          {{/if}}
        </ul>
    </div>
</nav>
