<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Pinterest Image Labeling</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="/styles/styles.css">


    <!-- <meta charset="utf-8"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- <title>Sample App</title> -->

    <!-- Bootstrap -->
    <!-- <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- <link href="bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet"> -->
<!-- <script   src="https://code.jquery.com/jquery-3.4.1.min.js"   integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="   crossorigin="anonymous"></script> -->
    <link href="/styles/force_view.css" rel="stylesheet">
<!-- <script   src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script> -->
<script src="/scripts/socket.io.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <!-- <script src="/socket.io/socket.io.js"></script> -->
</head>
<body>

    <!-- <script>
      $(function () {
        var socket = io();
        $('.form').submit(function(e){
         return false;
          e.preventDefault(); // prevents page reloading
          socket.emit('add label', $('#m').val());
          $('#m').val('');
          console.log("jquery")

        });

        socket.on('add label', function(msg){
    });

      });
    </script> -->

<!-- it'd be easier to toggle different navbars here, depending on state, than to edit one navbar with different states -->
{{> navbar}}

<div class="container">
  {{{body}}}
</div>
{{> input}}

  <!-- Latest compiled and minified JavaScript -->
      <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script data-main="/" src="bower_components/requirejs-bower/require.js"></script>
</body>
</html>
