{{#if currentUser}}
    <div class="pin_container">
        <div class="picture_container">
            <img src='{{pictureURL}}' alt="picture">
        </div>
        <div class="stats_container">
            <h3>stats</h3>
        </div>
    </div>
    <div class="labels_container">
        <h3>labels</h3>
    </div>
{{/if}}
